.product {
  margin: 0 auto;
  padding-bottom: 1.8rem;
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.product img {
  width: 100%;
}

.product h4 {
  font-weight: 500;
}

.title {
  color: #444;
}

.description {
  font-weight: 300;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid #cd5c08;
  background-color: #cd5c08;
  color: #fff;
  padding: 1rem 3.6rem;
  border-radius: 15px;
  transition: all 500ms;
}

.product button:hover,
.product button:active {
  background-color: #ffa94d;
  border: 2px solid #ffa94d;
  color: #fff;
}

.icon {
  width: 24px;
  height: 24px;
}
