.product {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  flex-direction: column;
  align-items: center;
}

.product img {
  width: 12rem;
  height: auto;
}

.product h1 {
  margin-bottom: 0.5rem;
}

.product h4 {
  margin-top: 0;
  font-weight: 500;
}
