.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.form button {
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid #2f6c6860;
  background-color: #2f6c68;
  color: #fff;
  padding: 1.8rem 6.8rem;
  border-radius: 20px;
  transition: all 500ms;
}

.form button:hover,
.form button:active {
  background-color: #aed8cc;
  color: #444;
}

.icon {
  width: 24px;
  height: 24px;
}
