.product {
  margin: 0 auto;
  padding-bottom: 1.8rem;
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.product img {
  width: 100%;
}

.product h4 {
  font-weight: 500;
}
