.header {
  font-family: "Playfair Display", sans-serif;
  font-weight: 800;
  font-size: 4.8rem;
  width: 90%;
  display: flex;
  align-items: baseline;
  z-index: 10;
}

.header a,
.header a:visited {
  color: #cd5c08;
  text-decoration: none;
  transition: all 0.5s;
}

.header a:hover,
.header a:active {
  color: #45260a;
}

.header p {
  font-family: "Playfair Display", sans-serif;
  font-size: 24px;
  font-style: italic;
  color: rgba(205, 93, 8, 0.6);
}
