.search {
  /* display: flex;
  align-items: center;
  border-radius: 20px;
  align-items: flex-start;
  position: relative; */
}

/* .search input {
  padding: 0.5rem;
  margin-right: 0rem;
  border: 1px solid #6a9c89;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: transparent;
}

.search input:focus {
  outline-color: #166762;
} */

.search button {
  background-color: transparent;
  color: #0e5e6f;
  border: none;
  cursor: pointer;
  padding: 8px 10px;
}

.search button:hover {
  color: #cd5c08;
}

.search-icon {
  width: 24px;
  height: 24px;
}
