.search {
  display: flex;
  align-items: center;
}

.search input {
  padding: 0.5rem;
  margin-right: 0rem;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.search button {
  background-color: rgba(22, 103, 98, 1);
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 0.5rem;
  cursor: pointer;
}

.search button:hover {
  background-color: rgba(78, 163, 158, 1);
}
