.container {
  display: flex;
  flex-direction: column;
  gap: 12.8rem;
  padding: 0 10.8rem;
  border-radius: 7px;
}

.monthly-sale-txt {
  font-size: 3.2rem;
  font-family: "Playfair Display", sans-serif;
  padding-bottom: 2.4rem;
}

.gallery-item {
  overflow: hidden;
  border-radius: 7px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  display: block;
  transition: all 300ms;
  object-fit: cover;
  border-radius: 7px;
}

.gallery-item img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
