/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
MAIN COLOR: #2f6c68; #0e5e6f; #1d5752; #aed8cc
GRAY COLOR: #495456, #adb5bd; #666; 
ACCENT COLOR: #cd5c08; #ffefd6
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700;900&family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,800;0,900;1,600&display=swap");
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #495456;
  /* background-color: #ffefd6; */
  background-color: #f6fae7;
  background-color: #fffaf4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  margin: 2rem auto;
  text-align: center;
}

.products-page-layout {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 50px;
  margin-left: 2rem;
}

.products-position {
  grid-column: 2/3;
}

.category-heading {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  margin-top: 2rem;
  gap: 1rem;
  color: #495456;
  animation: products-appear 1s ease-out forwards;
}

ul {
  list-style: none;
}

@keyframes products-appear {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
