.carousel {
  margin-top: 1rem;
  width: 80%;
  height: auto;
  border-radius: 7px;
  margin: 0 auto;

  animation: products-appear 1s ease-out forwards;
  display: flex;
  align-items: center;
  position: relative;
}

.carousel img {
  width: 100%;
  height: auto;
  border-radius: 7px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
}

.carousel img:hover {
  cursor: pointer;
}

.carousel .btn {
  background-color: #fff;
  border: none;
  position: absolute;
  cursor: pointer;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 300ms;
}

.carousel .btn:hover {
  background-color: #ddd;
  color: #333;
}

.carousel .btn ion-icon {
  width: 2rem;
  height: 2rem;
}

.btn--left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn--right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 24px);

  display: flex;
  gap: 1.2rem;
}

.dots button {
  border: none;
  cursor: pointer;
  height: 0.8rem;
  width: 0.8rem;
  background-color: #999;
  border-radius: 50%;

  transition: all 500ms;
}

.dots button:hover,
.dots button:active {
  background-color: #333;
}

@keyframes products-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
