.input {
  margin-bottom: 0.8rem;
  font-weight: 400;
}

.input label {
  font-weight: 500;
  margin-right: 1rem;
}

.input input {
  width: 4.8rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
  color: #495456;
}

.input input:focus {
  outline-color: #666666;
}
